/*importing  font google fonts */
*{
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body{
    min-height: 100vh;
    background: #fbcc81;
}
h3, h4, p{
    color: white;
}
/*-------------------------------------------*/

/*styling for the sidebar*/
ul{ /*getting rid of the ul padding so the icons arent so far*/
    padding-inline-start: 0;
}
.sidebar{ /*setting the dimensions*/
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 85px;

    display: flex; /*this is the 3 lines that hide the overflow before a user hovers over the sidebar*/
    flex-direction: column;
    overflow-x: hidden;

    background: #f8b549;
    padding: 15px 10px;
    transition: all 0.4s ease; /*this is how the sidebar will stretch out*/
    z-index: 3; /*gives the sidebar priority over the other elements on webpage*/
}
.sidebar:hover{ /*when it hovers, it goes to full width*/
    width: 260px;
}
.sidebar-header{
    display: flex;
    border-radius: 50%;
}
.sidebar-header img{
    width: 42px;
    height: 47px;
    border-radius: 50%;
}
.sidebar-header h2{
    font-size: 1.25rem;
    color: #fff;
    margin-left: 23px;
}
/*making the h4 name transition to be seen*/
.sidebar-links h4 span{
    opacity: 0;
}
.sidebar:hover .sidebar-links h4 span{
    opacity: 1;
}
/*making the text names transition to be seen*/
.sidebar-links .aclass{
    opacity: 0;
}
.sidebar:hover .sidebar-links .aclass{
    opacity: 1;
}
/*making the logo name transition to be seen*/
.sidebar h2{
    opacity: 0;
}
.sidebar:hover h2{
    opacity: 1;
}
/*stylistic choices of the text*/
.sidebar-links h4{
    color: #fff;
    margin: 10px 0;
    white-space: nowrap;
}
.sidebar-links{
    list-style: none;
    margin-top: 20px;
    height: 80%;
    overflow-y: auto;
    scrollbar-width: none;
}
.sidebar-links li a{
    display: flex;
    align-items: center;
    gap: 0 20px;
    color: #fff;
    padding: 15px 20px;
    white-space: nowrap;
    text-decoration: none;
}
/*when hovering, the different texts will turn to a lighter shade*/
.sidebar-links li a:hover{
    background: #f7bc5d;
    color: #fff;
    border-radius: 4px;
}
/*just moving the images to be even with the icons*/
.sidebar img{
    padding-left: 15px;
}

/*---------------------------------*/
/*working on the skill bar*/
.skill{
    width: 500px;
    margin: 60px auto;
    color: white;
    padding: 20px;
    background: #f7bc5d; 
    box-shadow:0 6px 16px rgba(86, 56, 56, 0.092);
}
.skill li{
    list-style: none;
}
.bar{
    background: white;
    display: block;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 5px;
}
.bar span{
    display: block;
    height: 100%;
    background: #ffdda7;
    border-radius: 10px;
    animation: fillBar 1.5s ease forwards;
}
/*progress amounts*/
.teaet{width: 70%;}
.teatype{width: 40%;}
.matgrad{width: 20%;}
.teapour{width: 55%;}
@keyframes fillBar{
    from{width:0;}
}

/*now working on the compelted actvities tab*/
.classgrp{
    display: flex;
    align-items: center;
    justify-content: center;
}
.classes{
    width: 200px;
    height: 200px;
    box-shadow:0 6px 16px rgba(109, 73, 73, 0.149);
    border-radius: 20px;
    background: #ffdda7;
    margin: 30px;
}
.schedulebutton{
    box-shadow:0 6px 16px rgba(147, 126, 126, 0.25);
    background: #ffdda7;
    padding: 20px;
    border-radius: 15px;
    border: white;
    color: white;
}
.schedulebutton:hover{
    background: #ffe2b5;
}